* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.3);
  border-bottom: 4px solid #1791a7;
}
header nav {
  padding: 20px 10px;
  width: 1020px;
  margin: 0 auto;
}
header nav ul {
  float: left;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #555;
}
header nav div.button {
  float: right;
  width: 100px;
  text-align: center;
  position: relative;
  top: -10px;
}
header::after {
  clear: both;
}
main {
  width: 1200px;
  margin: 0 auto;
  background-color: red;
  margin-top: 50px;
  box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.3);
}
main article {
  width: 900px;
  height: 300px;
  background-color: yellow;
  float: left;
}
main aside {
  height: 300px;
  width: 280px;
  float: right;
  background-color: green;
}
footer {
  padding: 30px;
  margin-top: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
footer div {
  text-align: center;
}
