<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewEditDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EC3DD8D1C33DBB500C98419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC3DDA61C33DBB500C98419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC3DDB11C33DBB600C98419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
